:root{
    --primaryBlue: #443ede;
    --primaryH1: #3d3d3d;
    --secondaryCrl: #6d6d6d;
}


*{
    font-size: 1.04em;
    padding: 0;
    margin: 0;
    /* overflow-x: hidden; */
}

.avgBtn{
    background-color: var(--primaryBlue);
    border: none;
    border-radius: 2em;
    color: white;
    padding: 0.7em 1.5em 0.7em 1.5em;
    width: fit-content;
}

/* Header */

header{
    display: flex;
    flex-direction: column;
}

/* Discount */

#discountSec{
    background-color: var(--primaryBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6em;
    font-size: 1em;
    color: white;
}

/* ---DiscountEnd--- */

/* Search */

#searchSection{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em 0em;
}

#searchLogo{
    width: 11em;
}

#searchLabel{
    border: 2px solid #c9d4fc;
    border-radius: 2em;
    padding: 0.3em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 25em;
}

#searchBtn{
    background-color: var(--primaryBlue);
    border: none;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    padding: 0.4em;
}

#searchInput{
    border: none;
    border-radius: 2em;
    width: 25em;
}

#searchInput:focus{
    outline: none;
}

/* ---SearchEnd--- */

/* Navigation */

nav{
    display: flex;
    flex-direction: row;
    background-color: #f6f6f6;
    padding: 1em;
    justify-content: center;
    gap: 3em;
}

.navSpan{
    display: flex;
    font-size: 1.1em;
    color: #4f4f4f;
    flex-direction: row;
    align-items: center;
    >img{
        width: 1em;
    }
}

/* ---NavigationEnd--- */

/* ---HeaderEnd--- */

/* Main */

/* HeroSection */

#heroSec{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#heroMain{
    display: flex;
    padding-left: 3em;
    padding-right: 7em;
    gap: 2em;
    justify-content: center;
    flex-direction: column;


    >h1{
        font-size: 2.5em;
        line-height: 1.2em;
    
        >span{
            color: var(--primaryBlue);
        }
    }

    >h2{
        line-height: 1.4em;
        color: var(--secondaryCrl);
        font-size: 1.2em;
    }
}

/* ---HeroSectionEnd--- */

/* TrustSection */

#trustSec{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f7ff;
    padding: 3em;
    gap: 2em;
    >h2{
        font-size: 1.5em;
        >span{
            color: var(--primaryBlue);
            text-decoration: solid underline;
        }
    }
}


#trustLogo{
    display: flex;
    flex-direction: row;
    gap: 4em;
}

/* ---TrustSectionEnd--- */

/* TrendingSection */

#trendingSec{
    padding: 5em 3em;
    >h1{
        font-size: 2em;
        margin-bottom: 0.4em;
        color: var(--primaryH1);
    }
    >h2{
        color: var(--secondaryCrl);
    }
}

.trendingCard{

    border: #e8e6e6 2px solid;
    width: fit-content;
    padding: 0.5em;
    border-radius: 0.5em;

    >img{
        border-radius: 0.5em;
    }

    >h2{
        color: var(--primaryH1);
    }
    >h3{
        color: var(--secondaryCrl);
    }
}

.trendingRating{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
}

/* ---TrendingSectionEnd--- */

/* TopDealSection */



/* ---TopDealSectionEnd--- */

/* BenefitSection */

#benefitSec{
    display: flex;
    justify-content: space-between;
    gap: 7em;
    padding: 3em;
}

#benefitSecond{
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 4em;
}

.benefitDiv{

    display: flex;
    flex-direction: column;
    gap: 0.3em;

    >h3{
        color: var(--primaryH1);
        font-size: 1.2em;
    }
    >h4{
        color: #6c6c6c;
        font-size: 1em;
    }
    >hr{
        background-color: #c9d4fc;
        margin-top: 0.2em;
    }
}

#benefitMain{
    display: flex;
    flex-direction: column;
    gap: 2em;

    >span{   
        >h1{
            color: var(--primaryBlue);
            font-size: 2em;
        }
        >h2{
            color: var(--secondaryCrl);
        }
    }
    >button{
        color: var(--primaryBlue);
        border: var(--primaryBlue) 2px solid;
        border-radius: 3em;
        background-color: white;
        padding: 0.5em 1.3em;
        width: fit-content;
    }
    >img{
        border-radius: 1em;
    }
}

/* ---BenefitSectionEnd--- */

/* Explore */

#exploreSec{
    background-color: #f3f7ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em 10em;
    gap: 2em;
    >h1{
        font-size: 2.5em;
    }
}

#exploreCardSec{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    width: 100%;
}

.exploreCard{
    display: flex;
    background-color: white;
    border: #e7e5e5 2px solid;
    border-radius: 1em;
    padding: 1em;
    justify-content: flex-start;
    gap: 1em;
    align-items: center;

    >img{
        background-color: #e1e9fe;
        padding: 0.7em;
        border-radius: 50%;
        height: 1.7em;
    }
    >span{
        >h2{
            color: var(--primaryH1);
        }
        >h3{
            color: var(--secondaryCrl);
            font-size: 0.8em;
        }
    }
}

#exploreBtn{
    background-color: #e1e9fe;
    padding: 0.5em 1.4em;
    border-radius: 1em;
    border: none;
    color: var(--primaryBlue);
}

/* ---ExploreSectionENd--- */

/* WhatSection */

#whatSec{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em 0em;
    gap: 1em;
    >h1{
        color: var(--primaryBlue);
        font-size: 2em;
    }
    >h2{
        color: var(--secondaryCrl);
        text-align: center;
    }
}

.whatCard{
    border: #e8e6e6 2px solid;
    width: 17em;
    flex-shrink: 0;
    border-radius: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    scroll-snap-align: c;
    >p{
        color: #4f4f4f;
    }
}

#whatScroll{
    display: flex;
    margin-top: 3em;
    padding-inline: 1.5em;
    scroll-padding-inline: 1.5em;
    box-sizing: border-box;
    gap: 1em;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    width: 100%;
    max-width: 100vw;
    scrollbar-width: none;
    scroll-behavior: smooth;

}
#whatScroll::-webkit-scrollbar {
    display: none;
}

.whatBanner{
    display: flex;
    align-items: center;
    gap: 1em;
    >img{
            width: 2.5em;
    }
    >span{
        
        >h2{
            color: var(--primaryH1);
            font-size: 1em;
            margin-bottom: 0.1em;
        }
        >h3{
            font-size: 1em;

            color: #4f4f4f;
        }
    }
}


/* ---WhatSectionEnd--- */

/* ---MainEnd--- */

/* Footer */

footer{
    background-color: #f3f7ff;
    padding: 4em 3em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

hr{
    border-top: #c9d4fc 2px solid;
}
#footerInfo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    >span{
        >h2{
            color: var(--primaryH1);
            font-size: 1.1em;
            margin-bottom: 0.5em;
        }
        >ul{
            list-style-type: none;
            color: var(--secondaryCrl);
            display: flex;
            flex-direction: column;
            gap: 0.3em;
        }
    }
}

#footLast{
    color: var(--secondaryCrl);
    display: flex;
    justify-content: space-between;
}

#footIcons{
    display: flex;
    gap: 1em;
    >img{
        width: 1.5em;
    }
}