:root{
    --primaryBlue: #443ede;
    --primaryH1: #3d3d3d;
    --secondaryCrl: #6d6d6d;
}


*{
    font-size: 1.01em;
    padding: 0;
    margin: 0;
    /* overflow-x: hidden; */
}
body {
  font-family: 'Poppins', sans-serif;
}

@media (max-width: 480px) {
    *{
        font-size: 1em;
    }
    body{
        overflow-x: hidden;
    }
}

.avgBtn{
    background-color: var(--primaryBlue);
    border: none;
    border-radius: 2em;
    color: white;
    padding: 0.7em 1.5em;
    width: fit-content;
}

/* Header */

header{
    display: flex;
    flex-direction: column;
}

/* Discount */

#discountSec{
    background-color: var(--primaryBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6em;
    font-size: 1em;
    color: white;
    width: auto;
}

/* ---DiscountEnd--- */

/* Search */

#searchSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 2em;
}

#searchLogo{
    width: 11em;
}



#searchLabel{
    border: 2px solid #c9d4fc;
    border-radius: 2em;
    padding: 0.3em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 25em;
}

#searchBtn{
    background-color: var(--primaryBlue);
    border: none;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    padding: 0.4em;
}

#searchInput{
    border: none;
    border-radius: 2em;
    width: 25em;
}

#searchInput:focus{
    outline: none;
}

.headerSearch{
    display: flex;
    gap: 2em;
}
@media (max-width: 480px) {
    #searchLogo{
        width: 9em;
    }
    #searchLabel{
        display: none;
    }
    #searchSection{
        padding: 0.7em 0.5em;
    }
    .avgBtn{
    padding: 0.4em 0.7em;
    font-size: large;
    }
}

/* ---SearchEnd--- */

/* Navigation */

nav{
    display: flex;
    flex-direction: row;
    background-color: #f6f6f6;
    padding: 1em;
    justify-content: center;
    gap: 3em;
}

.navSpan{
    display: flex;
    font-size: 1.1em;
    color: #4f4f4f;
    flex-direction: row;
    align-items: center;
    >img{
        width: 1em;
    }
}

@media (max-width: 480px) {
    nav{
        overflow-x: auto;
        flex-shrink: 0;
        font-size: medium;
        white-space: nowrap;
    }
    .navSpan{
        flex-shrink: 0;
    }
}

/* ---NavigationEnd--- */

/* ---HeaderEnd--- */

/* Main */

/* HeroSection */

#heroSec{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#heroMain{
    display: flex;
    padding-left: 3em;
    padding-right: 7em;
    gap: 2em;
    justify-content: center;
    flex-direction: column;


    >h1{
        font-size: 2.5em;
        line-height: 1.2em;
    
        >span{
            color: var(--primaryBlue);
        }
    }

    >h2{
        line-height: 1.4em;
        color: var(--secondaryCrl);
        font-size: 1.2em;
    }
}

#avatarSec{
    display: flex;
    align-items: center;
    gap: 1em;
    >p{
        color: var(--secondaryCrl);
        font-size: 1.2em;
    }
}

@media (max-width: 480px) {

    #heroSec{
        justify-content: center;
        align-items: center;
    }
    #heroImg{
        display: none;
    }
    #heroMain{
        margin-top: 1em;
        padding: 1em;
        align-items: center;
        text-align: center;
        >h1{
            font-size: 1.8em;
            line-height: 1em;
        }
        >h2{
            font-size: 1.1em;
        }
    }
}

/* Avatars */

.avatarGroup{
    display: flex;
    align-items: center;
}

.avatar{
    margin-left: 0;
    max-width: 3em;
    transition: margin-left 0.3s ease;
    >img{
        max-width: 3em;
    }
}

.avatarGroup:first-child{
    margin-left: 0;
}

.avatarGroup .avatar:nth-child(n+2){
    margin-left: -1.5em;
}

.avatarGroup:hover .avatar{
    margin-left: 0;
}

#avatarDummy{
    background-color: #e1e9fe;
    color: var(--primaryBlue);
    border: var(--primaryBlue) 2px solid;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 50px; */

}

@media (max-width: 480px) {
    #avatarSec{
        font-size: 1em;
        >p{
            font-size: 1.2em;
            margin-left: 1em;
        }
    }
    .avatar{
        max-width: 2em;
    }
    .avatarGroup:first-child{
        margin-left: 0;
    }

    .avatarGroup .avatar:nth-child(n+2){
        margin-left: -1em;
    }
    #avatarDummy{
        width: 1.8em;
        height: 1.8em;
        padding: 0.5em;
        margin-bottom: 0.2em;
    }
}

/* ---AvatarsEnd--- */

/* ---HeroSectionEnd--- */

/* TrustSection */

#trustSec{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f7ff;
    padding: 3em;
    gap: 2em;
    >h2{
        font-size: 1.5em;
        >span{
            color: var(--primaryBlue);
            text-decoration: solid underline;
        }
    }
}


#trustLogo{
    display: flex;
    flex-direction: row;
    gap: 4em;
    overflow-x: auto;
    overflow-y: hidden;
}

@media (max-width: 480px) {
    #trustSec{
        font-size: 0.8em;
        text-align: center;
        padding: 1em;
        max-width: 100vw;
        overflow-x: hidden;
    }
    #trustLogo{
        overflow-x:scroll;
        flex-shrink: 0;
        >img{
            width: auto;
            height: auto;
        }
    }
}

/* ---TrustSectionEnd--- */

/* TrendingSection */

#trendingSec{
    padding: 5em 3em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    >span{

        >h1{
            font-size: 2em;
            margin-bottom: 0.3em;
            color: var(--primaryH1);
        }
        >h2{
            color: var(--secondaryCrl);
        }
    }
}

#selectCtg{
    display: flex;
    gap: 1em;

    >label{
        padding-bottom: 1em;
        color: var(--secondaryCrl);
        >input{
            display: none;
        }
    }
}

.radioBtn{
    padding-bottom: 1em;
    font-weight: bold;
}
/* input[type=radio]{
    width: 200px;
    position: relative;
    border-bottom: 2px solid black;
}

input[type=radio]:checked::before{
    color: red;
}
input[type=radio]::before{
    content: "alma";
    display: block;
    position: absolute;
    top: -90px;
} */



/* #technology:checked ~ #techSpan{
    color: var(--primaryBlue);
    border-bottom: var(--primaryBlue) 2px solid;
}
#design:checked ~ #designSpan{
    color: var(--primaryBlue);
    border-bottom: var(--primaryBlue) 2px solid;
} */

#trendingCoursesDesign,
#trendingCoursesTechnology {
  display: none;
}

#technology:checked ~ #trendingCoursesTechnology {
  display: flex;
  gap: 1em;
}
#design:checked ~ #trendingCoursesDesign {
  display: flex;
  gap: 1em;
}

.trendingCard{

    border: #e8e6e6 2px solid;
    width: 15em;
    padding: 0.6em;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    >img{
        border-radius: 0.5em;
    }

    >h2{
        color: var(--primaryH1);
    }
    >h3{
        color: var(--secondaryCrl);
    }
}

.trendingCard img{
    width: 100%;
}

.trendingRating{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
}

#trendUSer{
    display: flex;
    align-items: center;
    gap: 0.2em;
    >p{
        color: var(--secondaryCrl);
    }
}

.trendAvatarGroup{
    display: flex;
    align-items: center;
}

.trendAvatar{
    margin-left: 0;
    max-width: 1.9em;
    transition: margin-left 0.3s ease;
    >img{
        max-width: 1.9em;
    }
}

.trendAvatarGroup:first-child{
    margin-left: 0;
}

.trendAvatarGroup .trendAvatar:nth-child(n+2){
    margin-left: -1em;
}
@media (max-width: 480px) {

    #trendingSec{
    padding: 3em 2em;
    gap: 1em;
    >span{

        >h1{
            font-size: 1.3em;
        }
    }
}
    #technology:checked ~ #trendingCoursesTechnology{
        flex-direction: column;
        align-items: center;
    }
    #design:checked ~ #trendingCoursesDesign{
        flex-direction: column;
        align-items: center;
    } 

    .trendingCard:nth-child(1) img{
        display: block;
    }
    .trendingCard{
        >img{

            display: none;
        }
    }
}


/* ---TrendingSectionEnd--- */

/* TopDealSection */

#dealSec{
    display: flex;
    justify-content: space-between;
    background-color: #f3f7ff;
    padding: 3em;
    gap: 1em;
    align-items: center;
}

#dealMain{
    display: flex;
    flex-direction: column;
    gap: 1em;
    >h1{
        font-size: 2em;
        font-weight: bold;
        color: var(--primaryH1);
    }
    >h2{
        color: var(--secondaryCrl);
    }
    >p{
        font-size: 1.3em;
        margin-bottom: 1em;
        color: var(--primaryBlue);
        >span{
            color: var(--primaryH1);
            font-weight: bold;
            font-size: 1.5em;
        }
    }
}

#bestDeal{
    display: flex;
    gap: 1em;
}

.crossedDeal{
    text-decoration: line-through;
    color: #9e9e9e;
    margin-right: 0.5em;
}


@media (max-width: 480px) {
    #dealSec{
        flex-direction:column;

    }
    #bestDeal{
        overflow-x: scroll;
    }
}

/* ---TopDealSectionEnd--- */

/* BenefitSection */

#benefitSec{
    display: flex;
    justify-content: space-between;
    gap: 7em;
    padding: 3em;
}

#benefitSecond{
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 4em;
}

.benefitDiv{

    display: flex;
    flex-direction: column;
    gap: 0.3em;

    >h3{
        color: var(--primaryH1);
        font-size: 1.2em;
    }
    >h4{
        color: #6c6c6c;
        font-size: 1em;
    }
    >hr{
        background-color: #c9d4fc;
        margin-top: 0.2em;
    }
}

#benefitMain{
    display: flex;
    flex-direction: column;
    gap: 2em;

    >span{   
        >h1{
            color: var(--primaryBlue);
            font-size: 2em;
        }
        >h2{
            color: var(--secondaryCrl);
        }
    }
    >button{
        color: var(--primaryBlue);
        border: var(--primaryBlue) 2px solid;
        border-radius: 3em;
        background-color: white;
        padding: 0.5em 1.3em;
        width: fit-content;
    }
    >img{
        border-radius: 1em;
    }
}

@media (max-width: 480px) {
    #benefitSec{
        flex-direction: column-reverse;
        gap: 0.2em;
        padding: 1em;
    }

    #benefitMain{
        >img{
            display: none;
        }
        
    >span{   
        >h1{
            color: var(--primaryBlue);
            font-size: 1.7em;
        }
        >h2{
            color: var(--secondaryCrl);
        }
    }
    }
}

/* ---BenefitSectionEnd--- */

/* Explore */

#exploreSec{
    background-color: #f3f7ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em 10em;
    gap: 2em;
    >h1{
        font-size: 2.5em;
    }
}

#exploreCardSec{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    width: 100%;
}

.exploreCard:hover img{
    transform: scale(1.4);
}

.exploreCard{
    display: flex;
    background-color: white;
    border: #e7e5e5 2px solid;
    border-radius: 1em;
    padding: 1em;
    justify-content: flex-start;
    gap: 1em;
    align-items: center;

    >img{
        background-color: #e1e9fe;
        padding: 0.7em;
        border-radius: 50%;
        height: 1.7em;
        transition: 0.5s ease;
    }
    >span{
        >h2{
            color: var(--primaryH1);
        }
        >h3{
            color: var(--secondaryCrl);
            font-size: 0.8em;
        }
    }
}

#exploreBtn{
    background-color: #e1e9fe;
    padding: 0.5em 1.4em;
    border-radius: 1em;
    border: none;
    color: var(--primaryBlue);
}

@media (max-width: 480px) {
    #exploreSec{
        padding: 1em;
        >h1{
            font-size: 2em;
        }
    }
    #exploreCardSec{
        display: flex;
        flex-direction: column;
    }
}

/* ---ExploreSectionENd--- */

/* WhatSection */

#whatSec{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em 0em;
    gap: 1em;
    >h1{
        color: var(--primaryBlue);
        font-size: 2em;
    }
    >h2{
        color: var(--secondaryCrl);
        text-align: center;
    }
}

.whatCard{
    border: #e8e6e6 2px solid;
    width: 17em;
    flex-shrink: 0;
    border-radius: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    scroll-snap-align: c;
    >p{
        color: #4f4f4f;
    }
}
/* 
#whatScroll{
    display: flex;
    margin-top: 3em;
    padding-inline: 1.5em;
    scroll-padding-inline: 1.5em;
    box-sizing: border-box;
    gap: 1em;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    width: 100%;
    max-width: 100vw;
    scrollbar-width: none;
    scroll-behavior: smooth;

}
#whatScroll::-webkit-scrollbar {
    display: none;
} */

#whatScroll {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

#scrollTrack {
    display: flex;
    gap: 1em;
    width: max-content;
    animation: scrollX 30s linear infinite;
}
#whatScroll:hover #scrollTrack {
    animation-play-state: paused;
}

@keyframes scrollX {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.whatBanner{
    display: flex;
    align-items: center;
    gap: 1em;
    >img{
            width: 2.5em;
    }
    >span{
        
        >h2{
            color: var(--primaryH1);
            font-size: 1em;
            margin-bottom: 0.1em;
        }
        >h3{
            font-size: 1em;

            color: #4f4f4f;
        }
    }
}
@media (max-width: 480px) {
    #whatSec{
        text-align: center;
        >h1{
            font-size: 1.9em;
        }
        >h2{
            font-size: 1em;
        }
    }
}

/* ---WhatSectionEnd--- */

/* ---MainEnd--- */

/* Footer */

footer{
    background-color: #f3f7ff;
    padding: 4em 3em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

hr{
    border-top: #c9d4fc 2px solid;
}
#footerInfo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    >span{
        >h2{
            color: var(--primaryH1);
            font-size: 1.1em;
            margin-bottom: 0.5em;
        }
        >ul{
            list-style-type: none;
            color: var(--secondaryCrl);
            display: flex;
            flex-direction: column;
            gap: 0.3em;
        }
    }
}

#footLast{
    color: var(--secondaryCrl);
    display: flex;
    justify-content: space-between;
}

#footIcons{
    display: flex;
    gap: 1em;
    >img{
        width: 1.5em;
    }
}

@media (max-width: 480px) {
    footer{
        padding: 2em;
    }

    #footerInfo{
        display: flex;
        flex-direction: column;
        gap: 1em;
        >span{
            >h2{
                margin-bottom: 0.1em;
            }
        }
    }
    #footLast{
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
        >p{
            font-size: 0.9em;
        }
    }
}